@use '../abstracts/variables' as c;

html {
	scroll-behavior: smooth;
}
body {
	background-color: c.$color-primary;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main{
	flex-grow: 1;
}
