@use '../abstracts/variables' as c;

.main-hero {
	.hero-content {
		position: absolute;
		z-index: 11;
		top: 50%;
		width: 100%;
		text-align: center;
		transform: translateY(-50%);
		.hero-title {
			color: c.$color-primary;
			font-size: 1.4rem;
			font-weight: 100;
			margin-bottom: 1rem;
		}
		.hero-subtitle {
			color: c.$color-primary;
			font-size: 2rem;
			font-weight: bold;
		}
	}

	.hero-img {
		width: 100%;
		background: url('../img/jungle-mobile.jpg') no-repeat center center/cover;
	}
}

//breakpoints
@media (width > 576px) {
	.main-hero {
		.hero-content {
			.hero-title {
				font-size: 2rem;
				margin-bottom: 0.5rem;
			}
			.hero-subtitle {
				font-size: 3rem;
			}
		}
	}
}
@media (width > 992px) {
	.main-hero {
		top: 7rem;
		.hero-content {
			text-align: left;
			margin-left: 2em;
		}
		.hero-img {
			background: url('../img/jungle-desktop.jpg') no-repeat center center/cover;
		}
	}
}

@media (width > 1200px) {
	.main-hero {
		.hero-content {
			margin-left: 0;
		}
	}
}
