@use '../abstracts/variables' as c;

.main-hero {
	overflow: hidden;
	height: 70dvh;

	.hero-content {
		position: absolute;
		top: 40%;
		width: 100%;
		text-align: center;
		transform: translateY(-50%);
		z-index: 11;

		.hero-title {
			color: c.$color-primary;
			font-size: 1.4rem;
			font-weight: 100;
			margin-bottom: 1rem;
		}

		.hero-subtitle {
			color: c.$color-primary;
			font-size: 2rem;
			font-weight: bold;
		}
	}

	.hero-img {
		width: 100%;
		background: url('../img/jungle-mobile.jpg') no-repeat center center/cover;
	}
}

.about-us {
	scroll-margin-top: 7rem;
	width: 100%;
	height: 800px;
	// overflow: hidden;

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		margin-top: 1rem;
	}

	&__img {
		width: 90%;
		max-width: 1200px;
		height: auto;
		margin-top: 3rem;

		img {
			width: 100%;
		}
	}

	&__content {
		margin-top: 2rem;
		width: 80%;
		text-align: center;

		&-title {
			font-size: 1.3rem;
			font-weight: 700;
			color: c.$color-secondary;
			margin-bottom: 1rem;
		}

		&-text {
			font-size: 1rem;
			font-weight: 300;
			color: c.$color-secondary;
			line-height: 1.8;
		}
	}
}

.adventure.hero {
	position: relative;
	height: 40dvh;
	max-height: 600px;
	.hero-img {
		background: url('../img/girl-walking-mobile.jpg') no-repeat center center/cover;
	}

	.hero-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		padding: 2rem 4rem;
		font-weight: 400;
		color: c.$color-primary;
		z-index: 21;
		border: 1px solid c.$color-primary;
		text-align: center;
	}
}

.offers {
	scroll-margin-top: 7rem;
	height: 800px;
	.section-subtitle {
		text-align: center;
		font-size: 1.8rem;
		margin-top: 4rem;
		margin-bottom: 1rem;
	}
	&__body {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__item {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		height: 500px;
		width: 60%;
		margin: 3rem;
		box-shadow: -1px 2px 14px 20px rgba(0, 0, 0, 0.1);
	}
	&__title {
		font-size: 1.8rem;
		margin-bottom: 1.5rem;
		margin-top: 2rem;
	}
	&__price {
		font-size: 2.6rem;
		font-weight: bold;
		margin-bottom: 2rem;
	}

	&__list {
		font-size: 1.2rem;
		margin-bottom: 2rem;
		img {
			vertical-align: top;
		}
		&-item {
			margin-bottom: 0.4rem;
		}
		&-item:last-child {
			margin-bottom: 0;
		}
	}

	.not-included {
		color: c.$grey-text-color;
	}

	&__btn {
		position: absolute;
		bottom: 10%;
		width: 70%;
		font-size: 1.2rem;
		padding: 0.5rem 1rem;
		border: none;
		border-radius: 8px;
		box-shadow: 1px 7px 10px 7px rgba(0, 0, 0, 0.1);
		background-color: c.$color-primary;
		color: c.$color-secondary;
		cursor: pointer;

		&--green {
			background-color: c.$green-btn;
			box-shadow: 1px 7px 10px 7px rgba(9, 255, 0, 0.1);
		}
	}
}

// breakpoints
@media (width > 576px) {
	.main-hero {
		.hero-content {
			margin-top: 2.5rem;

			.hero-title {
				font-size: 2rem;
				margin-bottom: 0.5rem;
			}

			.hero-subtitle {
				font-size: 3rem;
			}
		}
	}

	.about-us {
		height: 900px;
	}

	.adventure.hero {
		.hero-title {
			padding: 3rem 6rem;
		}
	}
}

@media (width > 768px) {
	.about-us {
		height: 1000px;
		&__content {
			&-title {
				font-size: 1.8rem;
			}

			&-text {
				font-size: 1.2rem;
			}
		}
	}
}

@media (width > 992px) {
	.main-hero {
		max-height: 1000px;
		.hero-content {
			top: 55%;
			text-align: left;
			margin-left: 2em;
		}

		.hero-img {
			background: url('../img/jungle-desktop.jpg') no-repeat center center/cover;
		}
	}

	.about-us {
		height: 600px;
		&__body {
			align-items: flex-start;
			flex-direction: row;
			margin-top: 4rem;
		}

		&__img {
			margin-top: 0;
			margin-left: 1.5rem;
			width: 45%;

			img {
				width: 100%;
			}
		}

		&__content {
			margin-right: 1.5rem;
			margin-top: 0;
			width: 55%;
			margin-left: 3rem;
			text-align: left;

			&-title {
				font-size: 2.5rem;
			}

			&-text {
				font-size: 1.3rem;
			}
		}
	}
	.adventure.hero {
		.hero-img {
			background: url('../img/girl-walking-desktop.jpg') no-repeat center center/cover;
		}
	}

	.offers {
		&__body {
			flex-direction: row;
		}

		&__item {
			width: 30%;
		}
	}
}

@media (width > 1200px) {
	.main-hero {
		.hero-content {
			margin-left: 1rem;
		}
	}
}
